h1{
	font-size: 30px;
	
}
.title{
	height: 20px;
	text-align: center;
	text-transform: uppercase;
	z-index: 5;
	font-family: BanglaMN;
 	color: rgb(249, 222, 26);
  	letter-spacing: 8px;
  	font-size: 24px;
}
div{}
.ui-content{
	z-index: 0;
	width:95%;
	text-align: center;
	margin-right: 2%;
	margin-left:2%;
	z-index: 5;
}
.pgchng{
	z-index: +1;
}
img{}
.bground{
	position: absolute;
	z-index: -1;
}
p{}
.warning{
	font-size: 0.8em;
}
