/*.ui-corner-all {
    border-radius: 0 !important;
}
.ui-title {
    margin-right: 8% !important;
    margin-left: 8% !important;
}*/

@font-face {
    font-family: BanglaMN;
    src: url(Bangla-MN.ttc);
}
body{
	font-family: BanglaMN;
  overflow: hidden;
}
h1{}
.main-title{
	font-size: 2em;
	text-transform: uppercase;
	text-align: center;
	font-family: url(content/BanglaMN.ttc);
	letter-spacing: 3.0px;
	margin:0px;
	color:yellow;
	opacity: 0.8;
}
.sec-title{
	font-size: 2em;
	text-transform: uppercase;
	text-align: center;
	font-family: url(content/BanglaMN.ttc);
	letter-spacing: 2.0px;
	padding-bottom: 0%;
	color:yellow;
	opacity: 0.8;
	margin-top:0px;
}
.ui-title{
	color:blue;
	font-family: url(content/BanglaMN.ttc);
	margin-left: 0px;
	margin-right: 0px;
}
.mission-planetname {
  text-transform: uppercase;
  position: absolute;
  left: 32.7%;
  top: 15%;
  font-size: 1.8em;
  color: lightblue;
  font-family: monospace;
}
a{}
.ui-btn{
	font-size: 1em;
	margin-top: 40px;
	opacity:0.9;

}
div{}

/*#page_Main{
	position: absolute;
	background: url("content/bground.jpg");
	background-repeat: no-repeat;
}*/ 
#page_Main {
    position: absolute;
    background: url("content/mission-bground.png");
    background-repeat: round;
}

#page_Create{
	position: absolute;
    background: url("content/mission-bground.png");
	background-repeat: no-repeat;
}
#page_Login{
	position: absolute;
    background: url("content/mission-bground.png");
	background-repeat: no-repeat;
}
#div_Login{
	padding:0px;
}
#planet-scroll-left-btn{
	width:80px;
	height:80px;
	position: absolute;
	left: 20%;
  	top: 60%;
}
#planet-scroll-right-btn{
	width:80px;
	height:80px;
	position: absolute;
	left: 60%;
  	top: 60%;
}
#mission_ButtonBack {
  width: 69px;
  height: 11px;
  position: absolute;
  left: 16%;
  top: -12%;
  text-transform: uppercase;
  padding: 15px;
  padding-left: 34px;
  padding-top: 7px;
}
#fact-scroll-up-btn {
   width: 100px;
   height: 100px;
   position: absolute;
   left: 83%;
   top: 12%;
}
#fact-scroll-down-btn{
   width: 100px;
   height: 100px;
   position: absolute;
   left: 83%;
   top: 43%;
}
img{}
.spacedude{
	width:75px;
	height:75px;
	border:0;
	padding-left:38%;
	padding-right: 38.5%;
	padding-bottom: 38.5%;
	padding-top:15%;
}
.mission-bg{
	position: absolute;
	padding:0px;
	width:100%;
	/*transform: rotate(90deg);*/
}
.mission-hud{
	position: absolute;
	padding:0px;
	width:100%;
	  /*transform: rotate(90deg);*/
}
.mission-earth-planet {
  animation-name: earth;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  position: absolute;
  left: 4%;
  top: 20.5%;
  width: 22.4%;
}

@keyframes earth {
     0%  {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.mission-mars-planet {
  position: absolute;
  left: 6%;
  top: 36%;
  width: 18.4%;
  display:none;
}
p{}
.mission-facts{
	position: absolute;
	left: 69%;
  	top: 40%;
	font-size:0.8em;
}
.mission-facts-1 {
  position: absolute;
  font-size: 0.8em;
  left: 30%;
  top: 29.5%;
  width: 60%;
  font-family: monospace;
  color: lightblue;
}
.mission-facts-2 {
  position: absolute;
  font-size: 0.8em;
  left: 30%;
  top: 29%;
  width: 60%;
}
.mission-facts-3 {
  position: absolute;
  font-size: 0.8em;
  left: 30%;
  top: 29%;
  width: 60%;
}

