h1{
	font-size: 30px;
}
.title{
	text-align: center;
	text-transform: uppercase;
	z-index: 5;
	font-family: BanglaMN;
 	color: rgb(249, 222, 26);
  	letter-spacing: 4px;
  	font-size: 1.2em;
  	padding-top: 20px;
}
.sec{
	height: 10px;
	letter-spacing: 3px;
	padding-top: 0px;
}

h2{
	text-transform: uppercase;
	font-size: 1em;
}
.planetnav{
	margin-top: 0px;
}
.prevtag{
	left:17%;
}
.nexttag{
	left:77%;
}
.navtag{
	font-size: 0.7em;
	position: absolute;
	top:150px;
}
.logouttag{
	position: absolute;
	right:20px;
	top:10px;
}
.planetlog{
	padding-top: 0px;
}
div{}
.ui-content{
	z-index: 0;
	width:95%;
	text-align: center;
	z-index: 5;
}
.pgchng{
	z-index: +1;
}
img{}
.bground{
	position: absolute;
	z-index: -1;
	height:320px;
}
.planetimg{
width:70px;
height:70px;
}
.thumb1{
/* tbc*/
}
.thumb2{

}
.thumb3{

}
p{}
.warning{
	font-size: 0.8em;
}
.planetfact{
	font-size:1em;
}
.d{
	display:none;
}